*{margin : 0}

.row{
    margin-bottom: 3%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    background-position: 50% 50%;
  }



#rubrik{
    height: 90px;
    line-height: 90px;
    padding-left: 150px;
    color: aliceblue;
}

h1{
    height: 90px;
    line-height: 90px;
    padding-left: 150px;
    background-color: black;
    color: cyan;
}

h4{
    height: 40px;
    line-height: 400px;
    padding-left: 150px;
    color: black;
}

#bankButton{
    background-color: yellow;
}

#buynow{
    background-color: rgb(0, 200, 255);
}

#getLoanButton{
    background-color: rgb(0, 255, 149);
}

#repayLoan{
    background-color: rgb(204, 0, 255);
}

